body {
    background-color: aqua !important;
}
.whitebg {
    background-color: hsl(120, 79%, 70%);
}
.navbar {
    background-color: transparent; /* override Bootstrap default */
}
.left-align {
    gap: 2rem;
}
.logo-Img {
    width: 90px;
}
.search-container input[type=text] {
    padding: 6px;
    font-size: 17px;
    border-radius: 20px;
}
.search-container button {
    padding: 6px 10px;
    border-radius: 20px 0;
    background: #ddd;
    font-size: 17px;
}
.search-container button:hover {
    background: #ccc;
}
.theme-setting .light {
    display: none;
}

#ummat_Carosuel{
    width: 55%;
    margin: 30px;
    height: 300px;
    overflow: hidden;
    border: solid 1px #ecec;
    border-radius: 20px;
}

a.carousel-control-next, a.carousel-control-prev {
    border-radius: 50%;
    border: 1px solid;
    height: 30%;
    width: 11%;
    top: 40%;
    background: #000;
}

/*-------card---------*/

#ummat_card{
justify-content: space-evenly;
}